<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Mapa</key>
	<dict>
		<key>RadioCentradoUsuario_KM</key>
		<real>5</real>
		<key>ZoomUsuario_LatitudeDelta</key>
		<real>0.05</real>
		<key>ZoomMexico_LatitudeDelta</key>
		<real>15</real>
		<key>MaxEstablecimientosVisibles</key>
		<integer>150</integer>
		<key>MaxEstablecimientosFetch</key>
		<integer>300</integer>
		<key>RegionBuffer</key>
		<real>0.05</real>
		<key>DebounceTime</key>
		<real>0.3</real>
		<key>SearchDebounceTime</key>
		<real>0.35</real>
		<key>SearchMinChars</key>
		<integer>1</integer>
		<key>SearchMaxResults</key>
		<integer>20</integer>
		<key>SearchFetchLimit</key>
		<integer>1000</integer>
		<key>HighlightDuration</key>
		<real>1.2</real>
		<key>HighlightFadeDuration</key>
		<real>0.4</real>
		<key>ActionMenuDelay</key>
		<real>0.2</real>
		<key>NoCategoryIcon</key>
		<string>questionmark.circle.fill</string>
		<key>NoCategoryColorHex</key>
		<string>#9E9E9E</string>
		<key>ThresholdCenterFactor</key>
		<real>0.1</real>
		<key>ThresholdSpanFactorLat</key>
		<real>0.1</real>
		<key>ThresholdSpanFactorLon</key>
		<real>0.1</real>
		<key>TileCacheTTLSeconds</key>
		<integer>300</integer>
		<key>TileGridBaseDegrees</key>
		<real>0.2</real>
		<key>AdaptiveFetch_WideLatDelta</key>
		<real>12</real>
		<key>AdaptiveFetch_MediumLatDelta</key>
		<real>4</real>
		<key>AdaptiveFetch_WideLimit</key>
		<integer>120</integer>
		<key>AdaptiveFetch_MediumLimit</key>
		<integer>220</integer>
		<key>AdaptiveFetch_CloseLimit</key>
		<integer>300</integer>
		<key>ClusteringActivado</key>
		<true/>
		<key>ClusterRadius</key>
		<real>0.02</real>
		<key>MinClusterSize</key>
		<integer>3</integer>
	</dict>
	<key>Ubicacion</key>
	<dict>
		<key>MinMovimientoMetros</key>
		<real>20</real>
		<key>MinIntervaloSegundos</key>
		<real>2</real>
		<key>TamanoCacheUbicaciones</key>
		<integer>100</integer>
	</dict>
	<key>Lista</key>
	<dict>
		<key>SearchMaxResults</key>
		<integer>20</integer>
		<key>SearchDebounceTime</key>
		<real>0.35</real>
		<key>SearchMinChars</key>
		<integer>3</integer>
		<key>DistanceCacheInvalidationMeters</key>
		<real>60</real>
		<key>NoCategoryIcon</key>
		<string>questionmark.circle.fill</string>
		<key>NoCategoryColorHex</key>
		<string>#9E9E9E</string>
		<key>RowSpacing</key>
		<integer>4</integer>
	</dict>
	<key>General</key>
	<dict>
		<key>Version</key>
		<string>1.0.0</string>
		<key>ModoDebug</key>
		<false/>
		<key>Idioma</key>
		<string>es</string>
	</dict>
</dict>
</plist>
